<h1><%= @reward.title %></h1>

<p><%= image_tag @reward.image.url, height: '300' if @reward.image.exists? %></p>
<p><%= @reward.description %></p>
<p>Cost: <%= @reward.cost %> points</p>
<br>
<%= link_to "Purchase", reward_purchases_path(@reward), method: 'post' %>
