<h1><%= @user.username %></h1>
<h3>Current Point Total: <%= @user.points.awarded.count %></h3>
<br>
<h3>Total Points Spent: <%= @user.points.redeemed.count %></h3>
<br>
<p>All Time Points Awarded: <%= @user.points.count %></p>
<br>
<%= link_to "Award Point", user_points_path(@user), method: 'post' %>
<%= link_to "Retract Point", user_points_path(@user), data: {confirm: "Really take away point?"}, method: 'delete' %>
<%= link_to "Edit", edit_user_path(@user) %><br>
<%= link_to "Delete", @user, data: {confirm: "Really delete this account?"}, method: 'delete' %>
