<!DOCTYPE html>
<html>
<head>
  <title>PointBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |type, msg| %>
  <%= content_tag :div, msg, id: "flash_#{type}" %>
<% end %>

<% if logged_in? && current_admin? %>
  <%= render 'layouts/admin_navbar' %>
<% elsif logged_in? %>
  <%= render 'layouts/navbar' %>
<% else %>
  <%= link_to "Login", login_path %>
  <%= link_to "Create Account", new_user_path %>
<% end %>

<%= yield %>

</body>
</html>
